<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="pub.devrel.easypermissions">

    <application>
        <activity android:name=".testhelper.TestActivity"/>
        <activity android:name=".testhelper.TestAppCompatActivity"/>
        <activity android:name=".testhelper.TestSupportFragmentActivity"/>
    </application>

</manifest>
